.desc {
  text-align: justify;
}

.udinusImg {
  width: 23rem;
}

.desc h3 {
  font-size: 26px;
  text-align: center;
}

.desc p {
  font-size: 15px;
}

@media (min-width: 768px) {
  .desc {
    text-align: justify;
  }

  .desc h3 {
    font-size: 18px;
    text-align: start;
  }

  .desc p {
    font-size: 12px;
  }

  .udinusImg {
    width: 300px;
  }
}
