.desc {
  text-align: justify;
}

.udinusImg {
  width: 95%;
}

.desc h3 {
  font-size: 26px;
  text-align: center;
}

.desc p {
  font-size: 15px;
}

@media (min-width: 768px) {
  .desc h3 {
    text-align: start;
  }
  .udinusImg {
    width: 80%;
  }
}
